* {
    margin: 0;
    padding: 0;
    font-family: "San Francisco";
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

ul li {
    list-style-type: none;
}

#display-container {
    font-size: 1.4em;
    margin-top: 45vh;
    margin-left: 45vw;
    position: fixed;
    text-align: center;
    width: 40vw;

}

.flex-container {
    display: flex;

}

.list-container {
    border-right: 1px solid rgb(202, 202, 202);
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    width: 30vw;
}