* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

#display-container {
    text-align: center;
    margin-top: 45vh;
    margin-left: 45vw;
    width: 40vw;
    position: fixed;
}

.flex-container {
    display: flex;

}

.list-container {
    border-right: 1px solid rgb(202, 202, 202);
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    width: 30vw;
}