/* global styles */

* {
  margin: 0;
  padding: 0;
  font-family: "San Francisco";
  box-sizing: border-box;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html,
body {
  height: 100%;
}

ul li {
  list-style-type: none;
  color: rgb(63, 63, 63);
}

a {
  color: rgb(240, 158, 8);
  text-decoration: none;
}

/* main app */

.main {
  display: flex;
  align-items: center;
  height: 100%;
}

.section-left {
  flex: 1;
  padding: 30px;
  background-color: rgb(215, 215, 215);
  height: 100%;
}

.section-left-subtitle {
  color: rgb(61, 61, 61);
  margin-bottom: 10px;
}

.section-left li:hover {
  color: rgb(101, 180, 226);
  cursor: pointer;
}

.section-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  height: 100%;
}

.list {
  list-style-type: none;
  padding: 0.3em;
  font-size: 0.8em;
}

.def-text {
  margin: 0.8em 5em;
}

.image {
  width: 80%;
  border-radius: 3px;
  margin-top: 2em;
  -webkit-box-shadow: 6px 10px 11px 3px rgba(199, 199, 199, 1);
  -moz-box-shadow: 6px 10px 11px 3px rgba(199, 199, 199, 1);
  box-shadow: 6px 10px 11px 3px rgba(199, 199, 199, 1);
}

@media only screen and (max-width: 875px) {
  .def-text {
    margin: 0.8em 1em;
  }
  .image {
    width: 95%;
    height: 20%;
  }
  .section-left {
    padding: 10px;
  }
}
